.boxes{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.card{

	width: 300px;
	height: 300px;
	align-self:center;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	border: 5px solid #ccc;
	flex-direction: column;
	flex-content:space-between;

}
